#itcui_skin > .itcui_skin_top{
	background-image: url("theme_orange_full_banner.png");
	background-repeat: no-repeat;
	background-position: bottom left;
	height: 87px;
}

.system_logo{
	background-image: url("../images/system_logo_white.png")!important;
}